

#parentTop{
    background-color: #f4f6f6;
    padding: 5px;
}
#navbarTop{
    display: flex;
    width:70%;
    margin:auto;
    /* border: 1px solid black; */
    justify-content: space-between;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 1500px;
    background-color: rgb(128, 128, 209);
}
/* #navbarTop>div{
    border: 1px solid blue;
} */
li{
    list-style: none;
    
}
#navbarTop>div:nth-child(2){
    display:flex;
    width: 80%;    
    
    
}
#navbarTop>div:nth-child(1){
    padding-top:15px;   
}
/* **************************************************************** */
#navbarbottom{
    display: flex;
    width:70%;
    /* border: 1px solid black; */
    justify-content: space-between;
    color: teal;
   margin: auto;    
    font-family: Arial, Helvetica, sans-serif;
}
#parentBottom{
    width:100%;
    /* border: 1px solid black; */
    padding: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}
/* #navbarbottom>div{
    border: 1px solid blue;
} */
li{
    list-style: none;
    
}
#navbarbottom>div:nth-child(2){
    display:flex;
    width: 70%;      
    font-size: 14px;  
}
a{
    text-decoration: none;
    color: white;

}
button{
    width:80%;
    height:100%;
    background-color: #ff6200;
    border: none;
    border-radius: 8px;

    
}
#navbarbottom>div:nth-child(3){
    width:15%;
   padding-top: 2px;
   padding-bottom: 2px;
    
}
#navbarbottom>div:nth-child(1){
 width:13%;
 padding-top:10px; 
}
#navbarbottom>div:nth-child(1)>img{
    width:100%;
    
}
#navbarbottom>div:nth-child(3){
display:flex;
justify-content: flex-end;
}
#body{
    /* border: 1px solid black; */
    height: 10000px;
}
.sticky{
    position: fixed;
    top: 0;
    width:100%;
}
#feat{
    position: absolute;
    top: 68px;
    
}
#bottom_navbar{
    position: absolute;
}


label #btn,label #cancel{
    
    position: relative;
    left: 11%;
    top:34px;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media all and (min-width:320px) and (max-width:480px){

    label #btn{
        display: block;
    }
    #demo>button{
        width:auto;
    }
    #demo>button>a{
        font-size: 11px;
    }
    #upper_dropdown>div>ul>li{
        font-size: 11px;
        display: block;
    }
    #upper_dropdown>div{
        font-size: 11px;
        

    }
    #upper_dropdown{
        display: block;
    }
    #navbarbottom>div:nth-child(1){
        width:30%;
    }
    #navbarTop>div:nth-child(2){
        position: fixed;
        display: flex;
        width:20%;
        /* border: 1px solid black; */
        background-color: white;
        flex-direction: column;
        margin-left: 100px;
        top:150px;
        left:-100%;
        
        
    }
    

    #navbarbottom>div:nth-child(2){
        position: fixed;
        display: flex;
        flex-direction: column;
        margin: 100px;
        background-color: white;
        margin-left: 100px;
        width: 60%;     
        /* border: 1px solid black; */
        top:50px;
        left:-100%;
        transition: ease-in 0.5s;
    }
    #check{
        display: inline;
    }
    #navbarbottom>div:nth-child(2)>div{
        border-bottom: 1px solid rgb(180, 211, 211);
        margin-bottom: 20px;
    }
    #lower_dropdown>div>ul>li{
        font-size: 20px;
    }
    #lower_dropdown>div{
        font-size: 11px;
       
    }
    #check:checked ~ #navbarbottom>div:nth-child(2){
        left: 0px;
        
    }
    #check:checked ~ label #btn{
        display: block;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    
}



@media all and (min-width:481px) and (max-width:768px){
    
    label #btn{
        display: block;
    }
    #demo>button{
        width:auto;
    }
    #demo>button>a{
        font-size: 11px;
    }
    #upper_dropdown>div>ul>li{
        font-size: 11px;
        display: block;
    }
    #upper_dropdown>div{
        font-size: 11px;
        

    }
    #upper_dropdown{
        display: block;
    }
    #navbarbottom>div:nth-child(1){
        width:25%;
    }
    #navbarTop>div:nth-child(2){
        position: fixed;
        display: flex;
        width:20%;
        /* border: 1px solid black; */
        background-color: white;
        flex-direction: column;
        margin-left: 100px;
        top:150px;
        left:-100%;
        
        
    }
    

    #navbarbottom>div:nth-child(2){
        position: fixed;
        display: flex;
        flex-direction: column;
        margin: 100px;
        background-color: white;
        margin-left: 100px;
        width: 70%;     
        /* border: 1px solid black; */
        top:50px;
        left:-200%;
    }
    #navbarbottom>div:nth-child(2)>div{
        border-bottom: 1px solid rgb(180, 211, 211);
        margin-bottom: 20px;
    }
    #lower_dropdown>div>ul>li{
        font-size: 20px;
    }
    #lower_dropdown>div{
        font-size: 11px;
       
    }
    #check:checked ~ #navbarbottom>div:nth-child(2){
        left: 0px;
        
    }
    #check:checked ~ label#btn{
        display: block;
    }
    /* #check:checked ~ label#cancel{
        display: block;
    } */
 
}

@media all and (min-width:769px) and (max-width:1200px){
label #btn{
        display: block;
    }
    #demo>button{
        width:auto;
    }
    #demo>button>a{
        font-size: 11px;
    }
    #upper_dropdown>div>ul>li{
        font-size: 11px;
        display: block;
    }
    #upper_dropdown>div{
        font-size: 11px;
        

    }
    #upper_dropdown{
        display: block;
    }
    #navbarbottom>div:nth-child(1){
        width:20%;
    }
    #navbarTop>div:nth-child(2){
        position: fixed;
        display: flex;
        width:20%;
        /* border: 1px solid black; */
        background-color: white;
        flex-direction: column;
        margin-left: 100px;
        top:150px;
        left:-100%;
        
        
    }
    

    #navbarbottom>div:nth-child(2){
        position: fixed;
        display: flex;
        flex-direction: column;
        margin: 100px;
        background-color: white;
        margin-left: 100px;
        /* width: 20%;      */
        /* border: 1px solid black; */
        top:50px;
        left:-100%;
    }
    #navbarbottom>div:nth-child(2)>div{
        border-bottom: 1px solid rgb(180, 211, 211);
        margin-bottom: 20px;
    }
    #lower_dropdown>div>ul>li{
        font-size: 20px;
    }
    #lower_dropdown>div{
        font-size: 11px;
       
    }
    #check:checked ~ #navbarbottom>div:nth-child(2){
        left: 0px;
        
    }
    #check:checked ~ label#btn{
        display: none;
    }
    #check:checked ~ label#cancel{
        display: inline;
    }
 
}